.gen {
  display: flex;
}

button {
  border: none;
  color: aliceblue;
  background-color: blueviolet;
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 32px;
  font-size: large;
  cursor: pointer;
  align-items: center;
}

button:hover {
  border: solid 3px rgb(106, 34, 173);
}

input {
  height: 25px;
  margin-left: 10px;
  display: flex;
  margin-top: 10px;
}

img {
  padding-top: 10px;
  padding-left: 50px;
  width: 700px;
  display: flex;
}
