header {
  background-color: blueviolet;
  display: flex;
  left: 0;
  top: 0;
}

.troll {
  width: 120px;
  padding: 20px;
}

p {
  width: 10px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: bolder;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 5px #000;
  display: flex;
  padding-left: 80px;
}
